<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="/include/js/piqpo_slide-1.1.js"></script>
</head>

<body style='background-color: #ff0; color: #00f;'>
    <table>
        <tr><td>title</td><td>{--$title--}</td></tr>
        <tr><td>date</td><td>{--$date|date_format--}</td></tr>
        <tr><td>text</td><td>{--$text|default:'undefined'--}</td></tr>
        <tr><td>item_image</td><td>{--$item_image|default:'undefined'--}</td></tr>
        <tr><td>feed_image</td><td>{--$feed_image|default:'undefined'--}</td></tr>
        <tr><td>background_image</td><td>{--$background_image|default:'undefined'--}</td></tr>
        <tr><td>item_image_credit</td><td>{--$item_image_credit|default:'undefined'--}</td></tr>
        <tr><td>item_image_caption</td><td>{--$item_image_caption|default:'undefined'--}</td></tr>
    </table>
</body>
</html>
