<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
<link href="/include/css/nickstricks.css" type="text/css" rel="stylesheet"></link>
<link href="/include/css/piqpo.css" type="text/css" rel="stylesheet"></link>
<title>Piqpo - {--block name=title--}{--/block--}</title>
</head>
<body>
<div class=top>

<div class=header>
<img src="/include/images/piqpo_200x75.gif" />
</div>
<div class=block><hr /></div>

<div class=main>{--block name=body--}{--/block--}</div>

<div class=block>
<hr />
{--if $smarty.server.SCRIPT_NAME != "/admin_home.html"--}<a href="/admin_home.html">Return to Admin Home</a>{--/if--}
</div>
</div>
</body>
</html>
