{--extends file="admin_root.htm"--}
{--block name=title--}Admin Home{--/block--}

{--block name=body--}

<div class="section_title">Feed Admin</div>

<a href="/add_feed.html?type=plain">Add Plain Feed</a>
<p/>
<a href="/add_feed.html?type=rss">Add RSS Feed</a>
<p/>
<a href="/manage_feeds.html">Manage Feeds</a>

<hr>

<div class="section_title">Stream Admin</div>

<a href="/add_stream.html">Add Stream</a>
<p/>
<a href="/manage_streams.html">Manage Streams</a>

<hr>
<div class="section_title">Install</div>
 
<a href="/download/Piqpo.scr">Download Screensaver</a>
<p/>
<a href="/register_guid.html">Register GUID</a>

<hr>
<div class="section_title">Activity</div>
 
<a href="/slide_views.html?views">Slide views</a>
<p/>
<a href="/slide_views.html?follows">Slide follows</a>
<p/>
<a href="/list_logs.html">Log files</a>

{--/block--}
